body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: linear-gradient(90deg, #4CAF50 25%, #fff 25%, #fff 50%, #4CAF50 50%, #4CAF50 75%, #fff 75%);
    background-size: 200% 100%;
    animation: slide 10s linear infinite;
}

@keyframes slide {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.container {
    text-align: center;
    border: 2px solid #333;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 16px;
}

.btn:hover {
    background-color: #555;
}

.btn-container {
    margin-top: 20px;
}

.hide {
    display: none;
}

.correct {
    background-color: #4CAF50;
    color: white;
}

.wrong {
    background-color: #f44336;
    color: white;
}

#life-counter {
    font-size: 24px;
    margin-bottom: 20px;
}

#timer {
    font-size: 18px;
    margin-bottom: 20px;
}

/* #final-score-container {
} */

.signout-btn {
    position: absolute;
    top: 10px;
    left: 10px;
}
.message {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}
